<nav>
    <ul>
        <li>
            <a href="#home">
                Home
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#news">
                News
            </a>
        </li>

    </ul>
    <ul>
        <li>
            <a href="#contact">
                Contact
            </a>
        </li>

    </ul>
</nav>